@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

:root {
    --roundness: 0.5rem;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--sub-color) transparent;
}

body {
    background-color: var(--bg-color);
    color: var(--sub-color);
    font-family: 'Roboto Mono';
    font-size: 2.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    transition: 0.25s;
}

#top {
    border-collapse: separate;

}

#menu .text-button {
    display: inline-block;
}

#top h1 {
    font-weight: 500;
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    /* margin-right: 25px;
    margin-left: 25px; */
    cursor: pointer;
    color: var(--text-color);
}

#menu .text-button {
    /* color: var(--sub-color); */
    cursor: pointer;
    font-size: 1.75rem !important;
    /* margin-right: 25px; */
    transition: 0.25s;

}

#menu .text-button:hover {
    color: var(--text-color);
}

#top td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.hidden {
    display: none !important;
}


#typing {
    margin-top: -1.1rem;
    height: 0;
    overflow: hidden;
    height: 100%;
}

@keyframes caretFlashSmooth {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

#caret {
    height: 2rem;
    background: var(--caret-color);
    position: absolute;
    width: 2.5px;
    border-radius: 0.25rem;
    transform: scale(1.45);
    transform-origin: top left;
    left: -9999px;
}

.animate-caret {
    animation-name: caretFlashSmooth;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.word letter.correct {
    color: var(--text-color);
}

.word letter.incorrect {
    color: var(--error-color);
    position:relative;
}

#words.flipped .word letter.correct {
    color: var(--sub-color);
}

#words.colorfulMode .word letter.correct {
    color: var(--main-color);
}

#words.colorfulMode .word letter.correct {
    color: var(--main-color);
}

#words.flipped.colorfulMode .word letter.correct {
    color: var(--sub-color)
}

#words.flipped.colorfulMode .word {
    color: var(--main-color)
}



#typing letter {
    border-bottom-style: solid;
    border-bottom-width: .05em;
    border-bottom-color: transparent;
    ;
}

.skipped-letter {
    border-bottom: 2px solid var(--error-color);
}

#words .word {
    display: inline-block;
    margin: .57rem;
    line-height: 39px;
    border-bottom: 3px solid transparent;

}

#words.flipped .word {
    color: var(--text-color);
}

.error {
    border-bottom: 3px solid var(--error-color) !important;
    text-shadow: 2px 0 0 var(--bg-color), -2px 0 0 var(--bg-color), 0 2px 0 var(--bg-color), 2px 2px 0 var(--bg-color), -2px 2px 0 var(--bg-color);
}

.book-choice {
    display: inline-block;
    margin-bottom: 20px;
    width: 300px;
    padding: 0 10px;

}

#new-book {
    word-break: break-all;
    vertical-align: top;
    cursor: pointer;
}

#new-book * {
    cursor: pointer;
}

#new-book .cover-img-wrapper {
    width: 232px;
    background-color: rgba(0, 0, 0, .1);
    height: 300px;
    display: flex;
    margin: auto;
    transition: 0.3s;
}

#new-book:hover .cover-img-wrapper {
    color: var(--bg-color);
    background: var(--text-color);
}

.stats-cell {
    text-align: right;
}

#library {
    width: 100%;
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: var(--bg-color)
}

::-webkit-scrollbar-thumb {
    background: var(--sub-color);
    transition: .25s;
    border-radius: 2px !important
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color)
}

::-webkit-scrollbar-corner {
    background: var(--sub-color)
}

#cover-img {
    max-width: 100%;
    max-height: 300px;
}

.cover-iframe {
    max-width: 100%;
    max-height: 100%;
}

.cover-img-wrapper {
    width: inherit;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display:grid;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.book-buttons {
    text-align: center;
    font-size: 25px;
}

.nlChar {
    margin: 0 .25rem;
    opacity: .2;
}

#middle {
    height: 100%;
    margin-top: 2rem;
}

.typing-stats td {
    display: inline-block;
    font-size: 27px;
    color: var(--main-color);
    width: 150px;
}



.plus-icon {
    width: max-content;
    margin: auto;
}

.plus-icon i {
    font-size: 100px;
}


#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 40px;

    font-size: 130px;
}

.book-buttons {
    cursor: default;
}

.book-buttons i {
    cursor: pointer;
}

#no-book-warning #go-library {
    width: max-content;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

#no-book-warning {
    width: max-content;
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#no-book-warning #go-library:hover {
    color: var(--bg-color);
    background: var(--text-color);
}

#page-selectors {
    float: right;
    cursor: default;
    display: flex;
}

#page-selectors div {
    transition: 0.25s;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .2)
}

#page-prev {
    margin-right: 30px;
}

#page-selectors div span {
    margin-top: -4px;
    user-select: none;
}

#page-selectors div:hover {
    color: var(--main-color);
}

#page-selectors div:focus {
    color: var(--main-color);
    background: var(--sub-color);
}

#chapter-label {
    float: right;
    font-size: 28px;
    color: var(--main-color);
    transition: 0.25s;
    opacity: 1;
}

.hide-chapter-label {
    opacity: 0 !important;
}

#dim-content {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.dialog {
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    margin: 0px;
    width: 100%;
    max-width: 750px;
    padding: 40px;
    border-radius: 45px;
    padding-bottom: 20px;
}

#delete-warning h1, #book-exists h1, #drm-error h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.delete-buttons {
    margin-top: 40px;
    width: 100%;
}

/* #cancel-delete,
#confirm-delete {
    margin: auto;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
} */

.delete-button {
    width: 205px;
    font-size: 46px;
}

#cancel-delete:hover,
#confirm-delete:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

#book-finished {
    text-align: center;
}

#book-finished h1 {
    font-size: 1.5em;
    margin: 0;
}

#end-book-buttons {
    margin: auto;
    width: max-content;
}

#end-book-buttons #go-library {
    margin-right: 50px !important;
}



.end-book-button {
    width: 230px;
}

.stat {
    width:max-content;
    margin: auto;
}

.stat .title {
    color: var(--sub-color);
}

.stat .val {
    font-size: 4rem;
    line-height: 3.5rem;
    color: var(--text-color);
}

#date-started {
    text-align: center;
}

#stats {
    display: grid;
    gap: 1rem;
}

.dialog {
    text-align: center;
}

#book-exists-buttons {
    width: 100%;
    margin: auto;
}

.dialog-button {
    margin: auto;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
}

.dialog-button:hover {
    color: var(--bg-color);
    background: var(--text-color);
}

.book-exists-button {
    width: 274px;
    font-size: 41px;
}

.triple-group {
    width: 100%;
    margin: auto;
}

.triple-group td {
    width: 33%;
    min-width: max-content;
}

.links {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

@media only screen and (max-width: 1090px) {
    .links {
        grid-auto-flow: unset;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}
@media only screen and (max-width: 600px) {
    .links {
        display: none;
    }
}

.text-button {
    align-content: center;
    appearance: none;
    border: none;
    border-radius: var(--roundness);
    color: var(--sub-color);
    cursor: pointer;
    display: grid;
    font-family: inherit;
    font-size: 1.5rem;
    gap: .25rem;
    grid-auto-flow: column;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: .7rem;
    text-align: center;
    text-decoration: none;
    transition: background .125s,color .125s;
    user-select: none;
    -webkit-user-select: none;
    width: max-content;
    width: -moz-max-content;
}

.sectionGroupTitle {
    color: var(--sub-color);
    cursor: pointer;
}

.sectionGroupTitle:hover {
    color: var(--text-color);
}

.close-section {
    margin-left: .5rem;
}

#settings {
    display: grid;
    gap: 2rem;
}

.button {
    align-content: center;
    appearance: none;
    background: var(--sub-alt-color);
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: .8rem;
    text-align: center;
    transition: background .125s,color .125s;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

.button.active {
    background: var(--main-color);
    color: var(--bg-color);
}

.button:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.button:active {
    background: var(--sub-color);
    color: var(--bg-color);
}

.themes-tab .button {
    transition: transform .125s;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.themes-tab .button:hover {
    transform: scale(1.1);
}

.themes-tab .fav-button {
    opacity: 0;
    overflow: hidden;
    transition: .25s;
}

.themes-tab .button:hover .fav-button {
    opacity: 1;
}

.active-indicator {
    color: inherit;
    opacity: 0;
    overflow: hidden;
    transition: .25s;
}

.themes-tab .text {
    align-self: center;
}

.themes-tab .far {
    margin: 0;
    pointer-events: none;
}

.fav-themes,  .all-themes{
    display: grid;
    gap: 1.1rem;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 0;
    margin-top: 3rem;
}

@media only screen and (max-width: 1450px) {
    .fav-themes,  .all-themes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1150px) {
    .fav-themes,  .all-themes {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 825px) {
    .fav-themes,  .all-themes {
        grid-template-columns: 1fr;
    }
}


.section h1 {
    color: var(--sub-color);
    font-size: 1.5rem;
    font-weight: 300;
    grid-area: title;
    line-height: 1rem;
    margin: 0;
}

.fav-themes {
    margin-bottom: 3rem;
}

.fav-button.active {
    opacity: 1;
}

.active-indicator.active {
    opacity: 1;
}

#info {
    display: grid;
    gap: 3rem;
}

#info .section {
    display: grid;
    gap: .25rem;
}

#info .section .title {
    color: var(--sub-color);
    font-size: 2.25rem;
    line-height: 2rem;
    margin: 0 0 1rem;
}

#info .section .subtitle {
    color: var(--sub-color);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0;
}

#info .section p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

 a {
    color: var(--sub-color);
    display: inline-block;
    transition: .25s;
 }
 
 #menu {
     margin-left: 25px;
 }

 .text-button .fas {
    display: grid !important;
    place-content: center center;
 }

 .pageSettings .section .text {
    font-size:1.5rem;
    align-self: normal;
    color: var(--text-color);
    grid-area: text;
 }

 .pageSettings .section .buttons {
    display: grid;
    gap: .5rem;
    grid-area: buttons;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
 }

 .pageSettings .section {
    align-items: center;
    column-gap: 2rem;
    display: grid;
    grid-template-areas: "title title" "text buttons";
    grid-template-columns: 2fr 1fr;
 }

 /* .pageSettings .buttons {
    grid-template-columns: initial;
 } */

 .word letter.incorrect hint {
    bottom: -0.75em;
    color: var(--text-color);
    display: grid;
    font-size: .75em;
    justify-content: center;
    left: 0;
    line-height: normal;
    opacity: .5;
    padding: 1px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 100%;
 }

 #caret.off {
     width: 0;
 }

 #caret.default {
     width: 3px;
 }

 #caret.block, #caret.outline {
    border-radius: 0;
    z-index: -1;
 }

 #caret.block {
    width: 0.4em;
 }
 #caret.outline {
    width: 0.39em;
 }

 #caret.outline {
    background: 0 0;
    border: 1px solid var(--caret-color);
 }

 #caret.underline {
    height: 2px;
    margin-top: 1.3em;
    width: .4em;
 }

 .word letter.incorrect.extra {
    color: var(--error-extra-color);
 }

 #capsWarning {
    background: var(--main-color);
    border-radius: 15px;
    color: var(--bg-color);
    display: table;
    right: 0;
    padding: 1.5rem;
    pointer-events: none;
    position: absolute;
    transition: .25s;
    z-index: 999;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
 }

 .showPageLabel .button {
    white-space: nowrap;
 }

 input {
    background: var(--sub-alt-color);
    border: none;
    border-radius: var(--roundness);
    caret-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 2rem;
    outline: none;
    padding: .5rem;
 }

 .settingsImport {
    width: 40%;
    padding: 40px 20px;
 }

 .settingsImport input {
     margin-bottom: 20px;
 }

 .settingsImport .button {
    width: 414.5px;
    margin: auto;
 }

 #resetSettingsDialog h1 {
     margin: 0;
 }

 #resetSettingsDialog table {
     width: 100%;
 }

 .pageSettings .section .button.danger {
    box-shadow: 0 0 0 4px var(--error-color);
    color: var(--text-color);
 }

 .settingsGroup {
    display: grid;
    gap: 2rem;
 }

 /* animation for rotating -90 deg */
@keyframes rotate-90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.sectionGroupTitle.clicked {
    animation: rotate-90 .25s;
}

#restart-book-dialog h1 {
    margin: 0;
}

.html-img {
    transform-origin: top;
    background-color: white;
    color: black;
}

.html-img * {
    /* margin: 0; */
    padding: 10px;
    white-space: nowrap;
}
