body {
  font-family: "Roboto Mono";
  background-color: var(--bg-color);
  margin: 0.5rem 5rem;
  color: var(--text-color);
  font-size: 2rem;
}

a {
  color: var(--sub-color);
}

button {
  all: inherit;
}